test_projects/*/target
test_projects/sample/pom.xml
classes/
lib/
leiningen*.jar
lein-swank/lein-swank*.jar
autodoc/
bin/nom
.lein-failures
/lein.man
/scratch.clj
.lein-deps-sum
docs
/leiningen-core/pom.xml
/.lein-classpath