test_projects/*/target
**/target
classes/
lib/
*jar
pom.xml
autodoc/
bin/nom
.lein-failures
/lein.man
/scratch.clj
.lein-deps-sum
docs
.lein-classpath
.lein-project-checksum
/leiningen-core/.lein-plugins/checksum
/wiki
TAGS
