#!/usr/bin/make -f

clean:
	rm -rf classes *jar *deb debian/leiningen/

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

build:
	LEIN_ROOT=y bin/lein compile :all, jar

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_prep
	dh_install -i bin/lein /usr/bin/
	dh_installdocs -i
	dh_installchangelogs -i
	jh_installlibs -i leiningen-1.6.1.jar
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary: binary-indep
